label {
  display: block;
}

.form {
  background: linear-gradient(45deg, blue, white);
  width: 300px;
  text-align: center;
  box-shadow: 0px 0px 10px red;
  border-radius: 15px;
  margin: auto;
}

.form p {
  color: red;
}
